<div style="height: 95vh;align-items: center;justify-content: center;display: flex;"> 
    <p-card [style]="{width: '25rem',  margin: '0 auto'}">
        <h2 class="text-align">Вход</h2>
        <div class="indent item-align">
            <p-floatlabel variant="on" >
                <input pInputText id="login" autocomplete="off"/>
                <label for="login">Почта</label>
            </p-floatlabel>
        </div>
        <div class="indent item-align">
            <p-floatlabel variant="on" >
                <p-password inputId="password" autocomplete="off" [feedback]="false" />
                <label for="password">Пароль</label>
            </p-floatlabel>
        </div>
        <ng-template #footer>  
            <div>
                <p-toast />
                <p-button [style]="{width: '15rem'}" (onClick)="show()" label="Войти" class="indent item-align" />
                <p class="indent item-align">Нет учетной записи?</p>
                <a routerLink="/registration" class="item-align" style="margin-top: -10px;">Зарегистрироваться</a>
            </div>  
        </ng-template> 
    </p-card>
</div>